<ons-page id="page2">

    <div class="details"><img class="setimages" src="/images/startrek.jpg"></div>
    
        


        <ons-list class="movietitle">
            <ons-list-header>Star Trek Beyond</ons-list-header>
            <ons-list-item class="moviedetails">Kirk, Spock and the crew must find a way off a hostile planet and stop
                Krall before he destroys the Federation.</ons-list-item>
            <ons-list-header>Cast</ons-list-header>
            <ons-list-item>Chris Pine</ons-list-item>
            <ons-list-item>Zachary Quinto</ons-list-item>
            <ons-list-item>Simon Pegg</ons-list-item>
            <ons-list-item>Zoe Saldana</ons-list-item>
            <ons-list-item>Karl Urban</ons-list-item>
            <ons-list-item>Anton Yelchin</ons-list-item>
            <ons-list-item>John Cho</ons-list-item> 
        </ons-list>

 

</ons-page>